<div style="float:left; margin: 0 5px">
    <a style="float:left"
       href="img-full.php?url={{ row.url }}&dirImg=./img/&alt={{ row.name }}&size={{ row.size }}"
       target='_blank'><img src="./img/{{ row.url }}"
                            alt={{ row.name }} width=200px></a>
    <figcaption>Размер изображения: <br>{{ row.size }}</figcaption>
</div>

	
