<div style="text-align:center">
    <img style="margin:0 auto" src={{ dirImg }}{{ url }} alt={{ alt }}>
    <figcaption>
        Число просмотров: <span style="color:red;font-weight:600">{{ CountClick }}</span>
    </figcaption>
</div>